
.employee-link {
  transition: background 0.2s, color 0.2s;
}

.employee-link:hover,
.employee-link:focus {
  background-color: #0d6efd;  /* Bootstrap blue */
  color: #ffffff;                /* Makes text white on blue */
}
.large-link {
  font-size: 1.5rem !important;
  padding: 0.75rem 1 rem;
}
.bold-link {
  font-weight: bold !important;
}
