<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Employees</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">

  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow text-center p-4">
      <img src="https://i.pinimg.com/736x/4d/a3/7f/4da37f4c3bd17e344cf93b5ea4ca73dc.jpg" class="mx-auto mb-3" alt="Company Logo" width="75%">
      <h1 class="mb-3">Welcome to the Employee Portal!</h1>
      <p class="mb-4">
        We're excited to have you as part of the team. Access your work resources, track company news, and manage your profile here.
      </p>
   

<a
  routerLink="/employeedata"
  class="nav-link btn shadow-sm employee-link large-link bold-link"
  href="employeedata"
>
  <span class="bi bi-person-lines-fill"></span>
  Employee Records
</a>



    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
